API_KEY=1234
BACKUP_SCHEDULE_HOUR=23
BACKUP_SCHEDULE_MINUTE=50
DATABASE_URL=url
NOTEBOOKLM_AUTH_JSON=auth_json
OUTPUT_DIR=./outputs
SLIDE_DECK_INSTRUCTION=Crie apenas um artefato utilizando todos os sources disponiveis
SYSTEM_PROMPT=Analise os materiais com profundidade e estruture as respostas de forma clara.
USE_MOCK_REPORT=true